<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Шины для машины</title>

    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/angular-range-slider.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 50px;
        }

        body > .container {
            padding: 40px 15px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv_3.7.2.js"></script>
    <script src="js/vendor/respond_1.4.2.min.js"></script>
    <![endif]-->

    <style>
        ul.tires {
            list-style: none;
        }
    </style>
</head>

<body ng-app="tiresApp">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container" ng-controller="tiresCtrl as t">

    <div>
        <h1>Выбор шин</h1>

        <p>
            <a href="#">Выбрать по марке автомобиля</a>
        </p>

        Ширина:
        <select ng-model="t.width" ng-options="op.id as op.label for op in t.allWidth"></select>

        Высота:
        <select ng-model="t.height" ng-options="op.id as op.label for op in t.allHeight"></select>

        Диаметр:
        <select ng-model="t.caliber" ng-options="op.id as op.label for op in t.allCaliber"></select>
    </div>

    <hr/>

    <div>
        <section class="row">
            <div class="col-md-6 col-md-offset-3">
                <div range-slider
                     floor="0"
                     ceiling="10"
                     dragstop="true"
                     ng-model-low="t.ranges.controllabilityWet.from"
                     ng-model-high="t.ranges.controllabilityWet.to"></div>
            </div>
        </section>

        Мокрое покрытие
        Управляемость
        Тормозной путь
        Аквапланирование
        <section data-range-slider class="range-slider" ng-model="t.ranges.controllabilityWet"
                 min="t.ranges.controllabilityWet.min" max="t.ranges.controllabilityWet.max"></section>
        Сухое покрытие
        Управляемость
        Тормозной путь
        <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
        Снег
        Управляемость
        Тормозной путь
        <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
        Лед
        Управляемость
        Тормозной путь
        <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
        Комфорт
        Акустический шум
        Плавность хода
        <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
        Экономичность
        Расход топлива
        Ресурс
        Ударопрочность
        <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
    </div>
    <hr/>

    <div>
        <h1>Найдено <span ng-bind="filtered.length"></span></h1>

        <ul class="tires">
            <li ng-repeat='tire in filtered = (t.tires)'>
                <img ng-src="{{tire.url}}">
                <span ng-bind="tire.brand"></span>
                <span ng-bind="tire.model"></span>
            </li>
        </ul>
    </div>

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/angular-resource.min.js"></script>
<script src="js/vendor/angular-animate.min.js"></script>
<script src="js/vendor/underscore.js"></script>
<script src="js/vendor/angular-range-slider.min.js"></script>

<script src="js/tires.js"></script>

</body>
</html>
