<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Шины для машины</title>

    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/angular.rangeSlider.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 50px;
        }

        body > .container {
            padding: 40px 15px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv_3.7.2.js"></script>
    <script src="js/vendor/respond_1.4.2.min.js"></script>
    <![endif]-->

    <style>
        ul.tires {
            list-style: none;
        }
    </style>
</head>

<body ng-app="tiresApp">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Шиносайт</a>
        </div>
        <!--
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
        -->
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container" ng-controller="tiresCtrl as t">

    <div>
        <h1>Выбор шины для машины</h1>

        <p>
            <a href="#">Выбрать по марке автомобиля</a>
        </p>

        Ширина:
        <select ng-model="t.width" ng-options="op.id as op.label for op in t.allWidth"></select>

        Высота:
        <select ng-model="t.height" ng-options="op.id as op.label for op in t.allHeight"></select>

        Диаметр:
        <select ng-model="t.caliber" ng-options="op.id as op.label for op in t.allCaliber"></select>
    </div>

    <hr/>

    <div>
        /<div tire-range-slider>1</div>/
        <tire-range-slider/>
        <accordion>
            <accordion-group heading="Мокрое покрытие" is-open="true">
                Управляемость
                /
                <tire-range-slider>!</tire-range-slider>
                /
                <div range-slider
                     min="t.ranges.controllabilityWet.min" max="t.ranges.controllabilityWet.max"
                     model-min="t.ranges.controllabilityWet.from" model-max="t.ranges.controllabilityWet.to"></div>
                Тормозной путь
                <div range-slider
                     min="t.ranges.stoppingWet.min" max="t.ranges.stoppingWet.max"
                     model-min="t.ranges.stoppingWet.from" model-max="t.ranges.stoppingWet.to"></div>
                Аквапланирование
                <div range-slider
                     min="t.ranges.hydroplaningWet.min" max="t.ranges.hydroplaningWet.max"
                     model-min="t.ranges.hydroplaningWet.from" model-max="t.ranges.hydroplaningWet.to"></div>
            </accordion-group>
            <accordion-group heading="Сухое покрытие">
                Управляемость
                <div range-slider
                     min="t.ranges.controllabilityDry.min" max="t.ranges.controllabilityDry.max"
                     model-min="t.ranges.controllabilityDry.from" model-max="t.ranges.controllabilityDry.to"></div>
                Тормозной путь
                <div range-slider
                     min="t.ranges.stoppingDry.min" max="t.ranges.stoppingDry.max"
                     model-min="t.ranges.stoppingDry.from" model-max="t.ranges.stoppingDry.to"></div>
            </accordion-group>
            <accordion-group heading="Снег">
                Управляемость
                <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
                Тормозной путь
            </accordion-group>
            <accordion-group heading="Лед">
                Управляемость
                <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
                Тормозной путь
            </accordion-group>
            <accordion-group heading="Комфорт">
                Акустический шум
                <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
                Плавность хода
            </accordion-group>
            <accordion-group heading="Экономичность">
                Расход топлива
                <section data-range-slider class="range-slider" step="1" ng-model="t.range" min="0" max="10"></section>
                Ресурс
                Ударопрочность
            </accordion-group>
        </accordion>
    </div>
    <hr/>

    <div>
        <h1>Найдено <span ng-bind="filtered.length"></span></h1>

        <ul class="tires">
            <li ng-repeat='tire in filtered = (t.tires | tireFilter:t.ranges)'>
                <img ng-src="{{tire.url}}">
                <span ng-bind="tire.brand"></span>
                <span ng-bind="tire.model"></span>
            </li>
        </ul>
    </div>

</div>
<!-- /.container -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="js/vendor/jquery_1.11.1.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/ui-bootstrap-0.13.0.min.js"></script>
<script src="js/vendor/angular-resource.min.js"></script>
<script src="js/vendor/angular-animate.min.js"></script>
<script src="js/vendor/angular.rangeSlider.js"></script>

<script src="js/tires.js"></script>

</body>
</html>
